body {
  margin: unset;
}
.navbar {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  height: 50px;
  background-color: #19747e;
  color: black;
}

.navbar-logo {
  width: 50px;
  height: 50px;
  cursor: pointer;
}

.navbar-logo:hover {
  transform: scale(0.98);
  filter: drop-shadow(0 0 0.75rem rgb(0, 0, 0));
}

.navbar-logo-img {
  width: 50px;
  height: 50px;
}

.navbar-menu {
  display: flex;
  gap: 35px;
}
.navbar-menu:hover {
  display: flex;
  gap: 35px;
}

.navbar-menu-contains {
  cursor: pointer;
}
.navbar-menu-contains:hover {
  cursor: pointer;
  transform: scale(0.98);
  filter: drop-shadow(0 0 0.75rem rgb(203, 203, 203));
}

.container-navbar-log-sign {
  display: flex;
  flex-direction: row;
  gap: 15px;
}

.navbar-log-sign {
  display: flex;
  width: 80px;
  height: 30px;
  justify-content: center;
  align-items: center;
}
.navbar-log-sign:hover {
  width: 80px;
  height: 30px;
  background-color: #d9d9d9;
  border-radius: 6px;
  transform: scale(0.98);
  filter: drop-shadow(0 0 0.75rem rgb(145, 145, 145));
}

.navbar-log-sign {
  cursor: pointer;
}

.homepage-board {
  width: 100%;
  height: 100vh;
  background-color: #e2e2e2;
}

.homepage-board-card {
  display: flex;
  text-align: center;
  width: 250px;
  background-color: white;
  border-radius: 9px;
  padding: 10px 5px;

}

.homepage-container-board-card {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 20px;
  padding: 10px;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.card-quantity-input{
  width: 20px;
  text-align: center;
  border: 0;
}
.card-quantity-input:focus{
outline: none;}

.card-quantity-btn{
  width: 25px;
  height: 21px;
  background-color: #c7c7c764;
  cursor: pointer;
}

.div-card-quantity{
  display: flex;
  justify-content: center;
  gap: 7px;
}

.card-div-price-btn{
display: flex;
justify-content: space-evenly;
align-items: center;
height: 50px;
}

.card-price{
  font-size: 17px;
}

.card-btn {
  background-color: #19747e;
  text-align: center;
  align-content: center;
  width: 70px;
  height: 30px;
  border-radius: 14px;
  cursor: pointer;
}

.card-btn:hover {
  background-color: #124e55;
  color: white;
  transform: scale(0.98);
  filter: drop-shadow(0 0 0.75rem rgb(174, 174, 174));
}

.container-background-and-popover {
  display: flex;
  position: absolute;
  background-color: rgba(79, 79, 79, 0);
  width: 100vw;
  min-height: 300px;
  cursor: pointer;
  justify-content: center;
}

.background-popover {
  display: flex;
  position: absolute;
  background-color: rgba(79, 79, 79, 0);
  width: 100vw;
  height: 100vh;
  cursor: pointer;
  justify-content: center;
}

.container-popover {
  display: flex;
  position: absolute;
  flex-direction: column;
  z-index: 1000;
  width: 250px;
  min-height: 350px;
  background-color: #19747e;
  margin: 3px;
  border-radius: 8px;
  padding: 10px;
  overflow-y: auto;
}

.container-popover-data {
  display: flex;
  position: absolute;
  z-index: 1;
  flex-direction: column;
  align-items: center;
  padding: 10px;
  gap: 10px;
  background-color: #e2e2e244;
  width: 230px;
  border-radius: 4px;
}

.container-popover-data-total{
  align-self: end;
  margin: 0 60px;
}

.card-basket-container {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.card-basket-div {
  display: flex;
  flex-direction: column;
  width: 210px;
  background-color: #d9d9d9;
  border-radius: 4px;
  padding: 10px;
}
